<form (ngSubmit)='submitUser()' #githubForm='ngForm'>

  
      <div class="form-group">
        <label  for="name">Search for a  user:</label>
        <input style="width: 480px" id="name" class="form-control" type="text" required [(ngModel)]="username" name="name" #name="ngModel">
        <button type="submit" class="btn btn-outline-success" >  🔍  SEARCH </button>
      </div>
      <div class="alert-danger" [hidden]="name.valid || name.pristine">
        <p>Name is required</p>
      </div>


</form>
